$main-blue: #244473;
$main-orange: #ff6600;

$secondary-color-1: #244473;
$secondary-color-2: #b6ffe6;
$secondary-color-3: #cddbfb;
$secondary-color-4: #fbd5cd;
$secondary-color-5: #d3fbcd;
$secondary-color-6: #fbcdf2;
$secondary-color-7: #cdfbeb;
