.btn {
  cursor: pointer;
}
.export-btn {
  cursor: pointer;
  display: flex;
  height: 3.6rem;
  align-items: center;
  padding: 0 1.5rem;
  border-radius: 8px;
  background-color: rgba(36, 68, 115, 0.03);
  color: $main-blue;

  span {
    font-size: 14px;
    font-weight: 600;
    margin-right: 2rem;
  }
  i {
    font-size: 16px;
    opacity: 0.3;
  }
}
