.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);

  z-index: 99999999;
  overflow-y: auto;
  &-item {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
  }

  &-content {
    position: relative;
    padding: 3rem 5rem;
    // min-width: 45rem;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.15);

    .modal-header {
      h2 {
        opacity: 1;
        font-size: 18px;
        font-weight: 600;
        text-align: start;
        margin-bottom: 3rem;

        color: $main-blue;
      }
    }
    .modal-close {
      position: absolute;
      top: 0px;
      right: 0;
      font-size: 2.5rem;
      line-height: 1.8rem;
      padding: 1.5rem;
      cursor: pointer;
    }
  }
}
.mini-modal {
  .modal-content {
    border-radius: 2rem;
    width: 28rem;

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5.6rem;
        width: 5.6rem;
        border-radius: 50%;
        color: white;
        font-size: 35px;
        background-color: #2fdf84;
        margin-bottom: 2rem;
      }
      p {
        width: 20rem;
        text-align: center;
        line-height: 2rem;
        margin-bottom: 2rem;
      }
      .btn {
        height: 5rem;
        width: 23rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        font-weight: bold;
        color: white;
        border-radius: 4px;
        background-color: #191919;
      }
    }
  }
}
#new-fee-modal,
#new-commission-modal,
#new-agent-modal {
  .modal-content {
    padding: 2.5rem;
    width: 34rem;
    align-items: center;

    form {
      display: flex;
      flex-direction: column;
      margin-bottom: 2.5rem;
      .status-select {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2.5rem;
        strong {
          margin-right: 1rem;
          color: #6d7278;
          font-size: 14px;
          font-weight: 500;
        }
      }
      .button-row {
        width: 100%;
        button {
          &:not(:last-of-type) {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
.slipcard-modals {
  .modal-content {
    width: 39rem;
    padding: 3rem 2.5rem;

    .modal-body {
      .search {
        margin-top: 2rem;
        display: flex;
        align-items: center;
        width: 100%;
        height: 4rem;
        padding: 0 1.5rem;
        border: 2px solid #000000;
        border-radius: 4px;
        background-color: #ffffff;
        margin-bottom: 2.5rem;
        i {
          margin-right: 1.5rem;
        }
        input {
          border: none;
          outline: none;
          font-family: "Montserrat";
          font-size: 16px;
          font-weight: 600;

          &::placeholder {
            font-family: "Montserrat";
            font-size: 16px;
            font-weight: 600;
          }
        }
      }
      .date-filters {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3.5rem;

        .date-filter {
          width: 12rem;
          small {
            font-size: 1.2rem;

            color: #7c7c7c;
            margin-bottom: 1.3rem;
          }
          .date-select {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-bottom: 1.3rem;
            border-bottom: 2px solid #191919;
          }
        }
      }
      .transactions {
        height: 35rem;
        overflow-y: auto;

        &-group {
          &-header {
            display: flex;
            align-items: center;
            .group-name {
              font-size: 16px;
              font-weight: 600;
              margin-right: 1rem;
            }
            i {
              font-size: 1.24rem;
            }
          }
          .transaction-card {
            display: grid;
            grid-template-columns: 3.2rem 1fr max-content;
            column-gap: 1rem;
            border: 1px solid rgba(124, 124, 124, 0.18);
            border-radius: 4px;
            padding: 1rem;
            margin-bottom: 1rem;
            i {
              display: flex;
              height: 3.2rem;
              width: 3.2rem;
              font-size: 1.4rem;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              color: white;

              &.fa-arrow-up {
                background-color: #9aa7b3;
              }
              &.fa-arrow-down {
                background-color: #2fdf84;
              }
            }
            .transaction-details {
              .transaction-name {
                line-height: 1.6rem;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 5px;
              }
              .transaction-type {
                opacity: 0.5;
                font-size: 12px;
              }
            }
            .amount {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.6rem;
            }
          }
        }
      }
      .detail-box {
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;

        border-bottom: 1px solid rgba(25, 25, 25, 0.1);

        &:last-of-type {
          border: none;
          margin-bottom: 4rem;
        }
        small {
          opacity: 0.5;
          font-size: 12px;
          font-weight: 500;
        }
      }
      .limit-group {
        margin-top: 15rem;
        margin-bottom: 15rem;

        .select-limit {
          margin-bottom: 2rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 2rem;
          height: 40px;
          width: 100%;
          background-color: rgba(25, 25, 25, 0.03);
          border-bottom: 2px solid #191919;
        }
        .current {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin-bottom: 2rem;

          small {
            font-weight: 500;
            opacity: 0.5;
            margin-bottom: 1rem;
          }
          h1 {
            font-size: 35px;
            font-weight: bold;
            line-height: 3.5rem;
          }
        }
        .input-group {
          height: 4rem;
          display: flex;
          align-items: center;
          border-radius: 4px;
          background-color: rgba(25, 25, 25, 0.03);
          padding: 0 2rem;
          margin-bottom: 2.5rem;
          input {
            border: none;
            outline: none;
            background-color: transparent;
            font-family: "Montserrat";
            font-size: 14px;
            &::placeholder {
              font-family: "Montserrat";
              font-size: 14px;
            }
          }
        }
        .set-limit {
          height: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          font-size: 16px;
          font-weight: bold;
          border-radius: 4px;
          background-color: #191919;
        }
      }
    }
  }
}
#add-match-modal {
  .modal-content {
    width: 76rem;
    border-radius: 8px;

    .modal-body {
      max-height: 80vh;
      overflow-y: auto;
    }

    .form-double-column {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 4rem;
      margin-bottom: 1rem;

      .form-group {
        display: flex;
        flex-direction: column;
        strong {
          margin-bottom: 1rem;
          font-weight: 600;
          font-size: 1.2rem;
        }
        input {
          height: 4rem;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 0 1rem;
          background-color: rgba(25, 25, 25, 0.03);
          border: none;
          outline: none;
        }
      }
      .select {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        background-color: rgba(25, 25, 25, 0.03);
        height: 4rem;
        border-bottom: 2px solid #191919;
      }
    }
    .upload-section {
      margin-top: 3rem;
      strong {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .upload-strip {
        margin-top: 1rem;
        display: flex;
        align-items: center;

        .upload-box {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 7rem;
          height: 7rem;
          border-radius: 6px;
          background-color: #f8f8f8;
          margin-right: 1.6rem;
          overflow: hidden;
          i {
            color: #8d8d8d;
            font-size: 16px;
          }
          img {
            height: 100%;
          }
        }
      }
    }
    .btn-row {
      margin-top: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        height: 5rem;
        width: 33rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: black;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        border-radius: 4px;
      }
    }
  }
}
#request-update-modal {
  .modal-content {
    padding: 2.5rem;
    .modal-body {
      ul.options {
        li {
          margin-bottom: 1.5rem;
          width: 33rem;

          input {
            display: none;

            & + label {
              width: 100%;
              display: flex;
              align-items: center;
              background-color: rgba(25, 25, 25, 0.03);

              border-bottom: 2px solid #191919;
              height: 4rem;
              padding: 0 1.5rem;
              cursor: pointer;

              .checkbox {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 2rem;
                height: 1.6rem;
                width: 1.6rem;
                border: 1px solid black;
                border-radius: 2px;

                &:after {
                  content: "\f00c";
                  font-family: "Font Awesome 5 Pro";
                  font-size: 10px;
                  display: none;
                }
              }
            }

            &:checked + label {
              .checkbox {
                &::after {
                  display: inline-block;
                }
              }
            }
          }
        }
      }
      .btn {
        width: 100%;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        font-weight: 1.8rem;
        color: white;
        background-color: black;
        border-radius: 4px;
        margin: 5rem 0 2rem;
      }
    }
  }
}
#property-modal {
  .modal-content {
    .modal-body {
      padding: 2rem 8rem 0;
      min-height: 70vh;
    }
  }
}
