*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  // background-color: #a6cceb;
  // overflow: hidden;
  font-size: 1.4rem;
  color: #191919;
  font-family: "Montserrat", sans-serif;
  // padding: 0 13vw;
}
.image-control {
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 100%;
  }

  &.vertical-image {
    img {
      width: auto;
      height: 100%;
    }
  }
}
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  width: 100%;
  tr {
    td,
    th {
      border-bottom: 1px solid rgba(36, 68, 115, 0.3);
      &:first-of-type {
        padding-left: 2.5rem;
      }
      &:last-of-type {
        padding-right: 2.5rem;
      }
    }
  }
  thead {
    tr {
      th {
        color: #244473;
        font-size: 14px;
        font-weight: 600;
        text-align: start;
        padding: 1.3rem 0;
        background-color: rgba(36, 68, 115, 0.03);
      }
    }
  }
  tbody {
    tr {
      td {
        font-size: 14px;
        font-weight: 500;
        padding: 1.4rem 0;
        color: #4e4e4e;
      }
    }
  }
}
.table-container {
  border: 1px solid rgba(36, 68, 115, 0.3);
  border-radius: 4px;
  overflow: hidden;
  table {
    a {
      text-decoration: none;
      color: $main-blue;
    }
  }
}
.green-text {
  color: #3c9937;
}
.red-text {
  color: #cf0000;
}
.yellow-text {
  color: #e3bc6a;
}
form {
  .form-group {
    display: flex;
    flex-direction: column;

    margin-bottom: 2.5rem;
    small {
      opacity: 0.3;
      color: #0f0f0f;
      font-size: 12px;
      margin-bottom: 6px;
      margin-left: 5px;
      font-weight: 500;
    }
    input {
      width: 100%;
      height: 4rem;
      padding: 8px 1.2rem;
      display: flex;
      align-items: center;
      border: 2px solid $main-blue;
      border-radius: 6px;
      background-color: rgba(36, 68, 115, 0.03);
    }
  }
  button {
    border: none;
    outline: none;
    height: 4.8rem;
    border-radius: 24px;
    background-color: #ff6600;
    padding: 1.3rem 2.5rem;

    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;

    &.btn-grey {
      color: #7c7c7c;
      background-color: rgba(36, 68, 115, 0.1);
    }
  }
  .button-row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
