body.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #131415;
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 108rem;
    height: 86rem;
    border-radius: 2rem;
    background-color: white;
    overflow: hidden;

    .column {
      padding: 9rem 11rem;

      &.empty {
        background-image: url(../../images/pexels-gdtography-911738.jpg);
        background-size: cover;
        background-position-x: 50%;
      }
      .intro {
        margin-bottom: 6rem;
        span {
          color: #252427;
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 8px;
        }
        h2 {
          font-size: 50px;
          font-weight: bold;
          letter-spacing: 0;
          line-height: 50px;
        }
      }
      .padlock-image {
        margin: 0 auto 7rem;
        height: 15rem;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 100%;
        }
      }
      form {
        .input-group {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 2.5rem;

          input {
            width: 100%;
            border: none;
            outline: none;
            padding: 8px 1.5rem 8px 2rem;
            background-color: rgba(25, 25, 25, 0.03);
            color: #191919;
            font-family: "Baloo Bhai 2";
            font-size: 14px;
            line-height: 2.2rem;
          }
          .icon {
            margin-left: 2rem;
          }
        }
        button {
          border: none;
          outline: none;
          margin-bottom: 3.5rem;
          display: block;
          height: 5rem;
          width: 100%;
          color: #ffffff;
          font-family: "Baloo Bhai 2";
          font-size: 16px;
          font-weight: bold;
          border-radius: 4px;
          background-color: #191919;
        }
        a.forgot-password {
          display: flex;
          justify-content: center;
          text-decoration: none;
          color: #191919;
          font-family: "Baloo Bhai 2";
          font-size: 16px;
          font-weight: 600;
          width: 100%;
        }
      }
    }
  }
}
